[Unit]
Description=octopus Service
Documentation=
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/usr/local/bin/octopus_server
Restart=always
RestartSec=2

[Install]
WantedBy=default.target